<!-- <div style="text-align: center;">
  <h1>Assignment-8 Solution</h1>

  <app-child (Event)="Message= $event" [mydata]="str"> </app-child> 

   <input  type="text" [(ngModel)]="str"> 
  <input type="text" #mydata>
  <br><br>
  <button (click)=length(mydata.value)> Click</button>
  <h1>Length of String : {{size}} </h1>
   <h1> Message from Child : {{Message}}</h1> 

</div> -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Batches</title>
</head>
<body>

<app-child2></app-child2>
 <!-- <div style="text-align: center;">
  <input (keyup)="onKey($event)">
  <h1>Length of String : {{values}}</h1>
`
 </div> -->


  
  <!-- <nav>

    <a href="/batches">Click to see Technologies</a>
    <br><br>
    <a href="/books">Click to see Books</a>
  </nav>
    <router-outlet></router-outlet>
     -->
</body>
</html>