<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classes</title>
</head>
<body>
    <div > 
        <h1 [style.color]="mycolor">Books</h1>
        <div > 
            <ul>
                <li>Angulario</li>
                <li>Android For Dummies</li>
                <li>Artificial Intelligence with Python</li>
                <li>Node JS in action</li>
                <li>Big Data for Dummies</li>
            </ul>
        </div>
    </div>
  
</body>
</html>














<!-- <div style="text-align: center;">

    <input type="text" #data>
    <br>
    <br>
    <button (click)="fun(data.value)">Click</button>

    <h1>Message from Parent : {{mydata}} </h1>

</div> -->